.ipynb_checkpoints/
tensorflow/*.ckpt
tensorflow/*.csv
tensorflow/*.ipynb
tensorflow/*.meta
tensorflow/*.txt
tensorflow/*csv#
tensorflow/logs/
tensorflow/.ipynb_checkpoints/
tensorflow/summary_logs/
tensorflow_cnn/logs/
tensorflow_cnn/*.csv
tensorflow_cnn/*.ipynb
tensorflow_cnn/*.pyc
tensorflow_cnn/*.txt
tensorflow_cnn/runs/
tensorflow_dnn/*.csv
tensorflow_dnn/*.ipynb
tensorflow_dnn/*.pyc
tensorflow_dnn/*.txt
tensorflow_dnn/*.ckpt
tensorflow_dnn/*.meta
tensorflow_dnn/checkpoint
tensorflow_dnn/logs/